

body {
  font-family: Tahoma, Verdana, sans-serif;
  padding: 0px 10%;
  margin: 0px;

}

*{
  box-sizing: border-box;
}


.header{
  width: 100%;
  height: 60px;
  padding-top: 10px;

}

.header i{

  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#myicon{
  font-size: 400%;

}

#dropdownicon{
  font-size: 400%;


}






.header .dropdown{
  position: relative;
  height: 100px;
  width: 50%;
  text-align: right;




}



.header .dropdownlist{
  position: absolute;
  padding: 5px;
  text-align: center;
  top: 50px;
  right: 0px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px 1px gray;
  z-index: 10;
  font-size: 15px;
  font-weight: 400px;
  background-color: white;
  width: 50%;
}



.header .link{
  padding: 1%;
}


.left{
  float : left;
}

.right{
  float: right;
}

.hidden{
  display: none;
}




.header .dropdown:hover .dropdownlist{
  display: block;
}



.container{
  padding-top: 10px;
  width: 100%;
  margin-top: 50px;
}


.section-title{
  font-size: 25px;
  font-weight: bolder;
}

.section-title p{
  padding-left: 10px;
}
.section-info{

  /* height : 200px; */
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: -5px -5px 10px 0px gray;
  /* background-color: red; */
  padding: 10px;
}


.heading{
  font-weight: bold;
}

.content{
  color: gray;
}

#intro{
  position: relative;
}

#intro img{
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: black;

}

#intro .content{
  padding-bottom: 20px;

}




#experiences {
  width: 100%;
}

.dummy-experience{
  margin-top: 25%;
}

.experience{
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;



  height: 25%;
}
.experience img{
  width: 60%;
  height : auto;
  padding-top: 20%;
  padding-bottom: 20%;



}
.experience .image{

  width: 25%;

  padding: 5px;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;


}
.experience .info{

  width: 75%;

  padding: 5px;
  padding-left: 20px;
  padding-top: 5%;
  border-left: 2px solid black;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}

.experience .info p{
  margin-bottom: 0px;
  padding-bottom: 0px;

}

.experience .info small{
  color : gray;
}



#skills{
  margin-top: 100px;
}

.skill{
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  /* background-color: skyblue; */
  padding-top: 15%;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px gray;
  margin-bottom: 50px;
}

.skill img{
  width: 20%;
  height: auto;
  position: absolute;
  border-radius: 50%;
  top : -10%;
  left: 40%;
  /* border: 1px solid red; */
  z-index: 10;
}

.skill ul{
  list-style-type: none;
  color: gray;
  font-size: 15px;
  padding: 0px;
}


.skill hr{
  width: 60%;
}


footer{
  background-color: black;
  width: 100%;
  height: 300px;
  color: white;

}

.footer{
  width: 50%;
  margin: auto;
  height: 100px;
  text-align: center;
  padding-top: 100px;

}

.footer i{
  padding: 10px;
}
